<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
		<title>Backbone Tetris</title>
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="styles/main.css">
	</head>
	<body>
		<div class="container" id="app-view">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 page-view" id="loading-view">
					<h1>Get ready to play some tetris!</h1>
					<div class="progress loading-progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0;">
							60%
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-sm-offset-3 page-view" id="menu-view">
					<h1>Main Menu</h1>
					<div class="list-group">
						<a href="#game" class="list-group-item">
							<h4 class="list-group-item-heading">New Game</h4>
							<p class="list-group-item-text">This is what you really want to click on. The rest is just fluff.</p>
						</a>
						<a href="#leaderboard" class="list-group-item">
							<h4 class="list-group-item-heading">Leaderboard</h4>
							<p class="list-group-item-text">It's tetris! Everyone thinks they are great but how do you really stack up?</p>
						</a>
						<a href="http://www.kappit.com/tag/tetris-jokes/" class="list-group-item">
							<h4 class="list-group-item-heading">Quit</h4>
							<p class="list-group-item-text">You can check out anytime you like, but you can never leave.</p>
						</a>
					</div>
				</div>
				<div class="col-sm-8 col-sm-offset-2 page-view" id="game-view">
					<div id="box">
					</div>
				</div>
			</div>
		</div>

		<script type="text/html" id="project-template">
			<div class="project">
				<h3>
					<a href="<%= url %>"><%= name %></a>
				</h3>
				<p><%= description %></p>
			</div>
		</script>

		<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="bower_components/underscore/underscore-min.js"></script>
		<script type="text/javascript" src="bower_components/backbone/backbone.js"></script>

		<script type="text/javascript" src="scripts/models/LoadingModel.js"></script>
		<script type="text/javascript" src="scripts/models/PieceModel.js"></script>

		<script type="text/javascript" src="scripts/collections/PieceCollection.js"></script>

		<script type="text/javascript" src="scripts/views/PieceView.js"></script>

		<script type="text/javascript" src="scripts/views/LoadingView.js"></script>
		<script type="text/javascript" src="scripts/views/MenuView.js"></script>
		<script type="text/javascript" src="scripts/views/GameView.js"></script>
		<script type="text/javascript" src="scripts/views/AppView.js"></script>

		<script type="text/javascript" src="scripts/main.js"></script>
	</body>
</html>
