<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<textarea placeholder="Instructions go here"></textarea>
	<form id="form">
		<input type="text" placeholder="Ingredient" id="ingredient">
		<input type="text" placeholder="Ingredient" id="quantity"><button>Add Ingredient</button>
	</form>
	<ul id="ingredient-list"></ul>
	<script type="text/javascript" src="scripts/bundle.js"></script>
	<script type="text/template" id="ingredient-row">
		<li><%= ingredient %> - <%= quantity %><button>edit</button></li>
	</script>
</body>
</html>