html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  margin: 0 auto;
  color: #394232;
  background-image: url(/images/bg.png);
  padding-bottom: 2em; }

h2, h3 {
  border-bottom: 1px solid #999;
  font-weight: 300;
  color: #000; }

button {
  border-radius: 4px;
  background: #3A9C44;
  border: 0;
  color: #f1f4bc;
  font-size: 1.2em;
  padding: 0.4em 0.5em;
  line-height: 1;
  cursor: pointer; }

nav {
  border-top: 1em solid #525252;
  border-bottom: 1px solid #eee;
  background: #fff;
  padding: 0.5em 0; }
  nav > div {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 3em; }
    nav > div::after {
      clear: both;
      content: "";
      display: table; }
  nav .logo {
    float: left;
    padding: 1em 0;
    text-decoration: none; }
    nav .logo img {
      height: 3em;
      display: block;
      float: left; }
    nav .logo div {
      font-size: 2em;
      line-height: 1;
      float: left;
      padding: 0.25em;
      font-family: 'Signika';
      color: #073719; }
  nav .links {
    float: left;
    width: 100%; }
    nav .links a {
      line-height: 3;
      padding: 0 1em;
      text-decoration: none;
      display: block;
      float: left;
      font-family: 'Paytone One';
      color: #525252;
      text-transform: uppercase; }

main {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  margin-top: 1em;
  overflow: hidden; }
  main::after {
    clear: both;
    content: "";
    display: table; }

input, textarea {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  border: 1px solid #ccc;
  padding: 0.8em; }

textarea {
  height: 10em; }

.jobs {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: #fff;
  padding: 1em;
  box-shadow: #bbbbbb 4px 4px 13px 0px;
  border-top: 1px solid #eee; }
  .jobs:last-child {
    margin-right: 0; }
  @media screen and (min-width: 50em) {
    .jobs {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%; }
      .jobs:last-child {
        margin-right: 0; } }
  .jobs form {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5em;
    border-bottom: 3px solid #eee; }
    .jobs form::after {
      clear: both;
      content: "";
      display: table; }
    .jobs form label {
      line-height: 1; }
      .jobs form label > div {
        font-weight: bold;
        color: #394232;
        font-size: 1.2em;
        padding-bottom: 0.25em; }
    .jobs form button {
      margin-top: 1.2em; }
  .jobs .keyword-label {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%; }
    .jobs .keyword-label:last-child {
      margin-right: 0; }
  .jobs .location-label {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .jobs .location-label:last-child {
      margin-right: 0; }
  .jobs .search {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .jobs .search:last-child {
      margin-right: 0; }

.list > div {
  border-bottom: 1px solid #ccc;
  padding: 1.5em 0; }
  .list > div:last-child {
    border-bottom: 0; }

.list header {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.3em; }
  .list header::after {
    clear: both;
    content: "";
    display: table; }
  .list header a {
    display: block;
    float: left;
    font-size: 1.2em;
    color: #073719;
    text-decoration: none; }
    .list header a:hover {
      text-decoration: underline; }
  .list header .date-posted {
    float: right;
    font-size: 0.75em;
    color: #999; }

.list .employer {
  font-weight: bold; }
  .list .employer::after {
    content: ' \b7'; }

.list .short-description {
  font-size: 0.75em;
  color: #999;
  margin-bottom: 0.75em; }

.job-info {
  margin-bottom: 0.3em; }
  .job-info > div {
    display: inline-block;
    font-size: 0.75em; }

.ads {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-top: 2em; }
  .ads:last-child {
    margin-right: 0; }
  .ads > div, .ads a {
    padding: 0.75em 2em;
    background-color: #fff; }
  @media screen and (min-width: 50em) {
    .ads {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      margin-top: 0; }
      .ads:last-child {
        margin-right: 0; } }
  .ads .info {
    background-color: #fafbe8;
    border: 1px solid #edf0a7; }
    .ads .info button {
      width: 100%;
      background: #666;
      color: #eee; }
  .ads .side-box {
    margin-top: 2em; }

.tag {
  background-color: #fafbe8;
  border: 1px solid #e0e565;
  color: black;
  text-decoration: none;
  padding: 0.25em 0.5em; }

.side-box {
  background: #fff;
  display: block;
  text-decoration: none;
  position: relative; }
  .side-box img {
    width: 100%; }
  .side-box .featured-logo {
    width: 33%;
    left: 33%;
    display: block;
    position: absolute;
    top: 9em; }
  .side-box .company {
    padding: 4em 0;
    text-align: center; }
    .side-box .company .name {
      color: #3A9C44;
      font-size: 2em; }
    .side-box .company .city {
      color: #666; }

.new-job-form {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: #fff;
  padding: 1em;
  box-shadow: #bbbbbb 4px 4px 13px 0px;
  border-top: 1px solid #eee; }
  .new-job-form:last-child {
    margin-right: 0; }
  @media screen and (min-width: 50em) {
    .new-job-form {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%; }
      .new-job-form:last-child {
        margin-right: 0; } }
  .new-job-form label {
    display: block;
    margin-bottom: 0.75em; }
    .new-job-form label > div {
      font-family: 'Arial';
      font-weight: bold;
      color: #525252; }
  .new-job-form button {
    font-size: 1.5em;
    float: right; }

.instructions {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-top: 2em; }
  .instructions:last-child {
    margin-right: 0; }
  .instructions > div, .instructions a {
    padding: 0.75em 2em;
    background-color: #fff; }
  @media screen and (min-width: 50em) {
    .instructions {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      margin-top: 0; }
      .instructions:last-child {
        margin-right: 0; } }

.job-details {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: #fff;
  padding: 1em;
  box-shadow: #bbbbbb 4px 4px 13px 0px;
  border-top: 1px solid #eee; }
  .job-details:last-child {
    margin-right: 0; }
  @media screen and (min-width: 50em) {
    .job-details {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%; }
      .job-details:last-child {
        margin-right: 0; } }
  .job-details .tags {
    margin-top: 0.6em; }

.company-box {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-top: 2em; }
  .company-box:last-child {
    margin-right: 0; }
  .company-box > div, .company-box a {
    padding: 0.75em 2em;
    background-color: #fff; }
  @media screen and (min-width: 50em) {
    .company-box {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      margin-top: 0; }
      .company-box:last-child {
        margin-right: 0; } }

@media screen and (min-width: 43em) {
  .jobs form {
    padding: 0.5em 1em 1.5em 1em; }
  .list > div {
    padding: 1.5em 1em; } }

@media screen and (min-width: 60em) {
  nav .links {
    width: auto;
    margin-left: 2em; }
    nav .links a {
      line-height: 5em; } }
