body {
	font-family: 'Open Sans', sans-serif;
}

header {
	background-color: #118BC0;
	height: 3.125em;
}

.hero {
	background-color: #344051;
	padding: 10.3125em 2em 2.875em 2em;
}

h1 {
	margin: 0;
	color: #fff;
	text-align: center;
	font-weight: 500;
	font-size: 2.25em;
}

.tagline {
	text-align: center;
	color: #fff;
	font-size: 1.25em;
	margin: 2em 0;
	padding: 0 4em;
	font-weight: 300;
}

.button-border {
	padding: 0.75em;
	background-color: rgba(21, 29, 34, 0.4);
	width: 14em;
	margin: 0 auto;
}

.button {
	display: block;
	height: 3.25em;
	width: 14em;
	background-color: #1E8CBE;
}

.feature {
	background-color: #E8F0F5;
	height: 11.875em;
}

.down {
	width: 3.215em;
	height: 1.375em;
	background-color: #fff;
	margin: 13.375em auto 8.5em auto;
}

.icon-box {
	width: 18.75em;
	height: 4.25em;
	background-color: #fff;
	margin: 0 auto 2em auto;
}

.benefits {
	background-color: #D1D3D7;
	padding: 1em 0.625em;
}

.benefits > div {
	background-color: #fff;
	height: 15em;
	border: 1em solid #D1D3D7;
	border-left: none;
	border-right: none;
}

.feature.bottom {
	padding: 1.25em;
	height: 10.625em;
	box-sizing: border-box;
}

.feature .button {
	overflow: hidden;
	margin: 5em auto 0 auto;
}

footer {
	padding: 1.625em;
	background-color: #000000;
	text-align: center;
}

footer a {
	color: #fff;
	text-decoration: none;
	padding: 0 0.5em;
	font-size: 0.8em;
	line-height: 2.3em;
}

.automattic {
	width: 8.25em;
	height: 1.5em;
	background-color: #fff;
	margin: 0 auto;
	margin-top: 1em;
}