/*html > body {
    background: #fff;
}

body {
    background-color: red;
}

section {
	background-color: #ccc;
	padding: 1em 0 1em 1em;
	overflow: hidden;
}

section > div {
	height: 20em;
}

div {
	width: 20%;
	height: 15em;
	background-color: blue;
	border-right: 1em solid #ccc;
	float: left;
	box-sizing: border-box;
}

section div {
	height: 30em;
}

.foo {
	height: 4em;
}*/