.page-view {
	display: none;
}

.page-view h1 {
	text-align: center;
	margin-bottom: 200px;
}

#loading-view .progress .progress-bar {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

#box {
	width: 200px;
	height: 400px;
	border: 1px solid #ccc;
	margin: 100px auto 0 auto;
	position: relative;
}

.piece {
	position: absolute;
}

.box {
	position: absolute;
	width: 20px;
	height: 20px;
	box-sizing: border-box;
}

.box.dead {
	background-color: #000;
}

.type-0 .box {
	background-color: #00F0F0;
	border: 1px solid #00D8D8;
}

.type-1 .box {
	background-color: #F0F000;
	border: 1px solid #D8D800;
}

.type-2 .box {
	background-color: #A000F0;
	border: 1px solid #9000D8;
}

.type-3 .box {
	background-color: #0000F0;
	border: 1px solid #0000D8;
}

.type-4 .box {
	background-color: #F0A000;
	border: 1px solid #D89000;
}

.type-5 .box {
	background-color: #00F000;
	border: 1px solid #00D800;
}

.type-6 .box {
	background-color: #F00000;
	border: 1px solid #D80000;
}