/* use text-align center to horizontally center inline elements inside of the
body */
body {
	text-align: center;
}

/* use margin:0 auto to horizontally center divs inside of the body */;
body > div {
	color: #fff;
	width: 20em;
	background-color: #000;
	margin: 0 auto;
	padding: 4em 0;
}

section {
	position: relative;
	margin-top: 2em;
	color: #ccc;
	height: 10em;
	background: black;
}

section > div {
	position: absolute;
    top: 50%;
    height: 100px;
    margin-top: -50px;
    background-color: blue;
}