.credits-container {
	color: $paragraphColor;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 3em;
	margin-bottom: 3em;
	background: $contentBackground;

	td {
		border: none;
	}

	tr {
		border: none;
	}
	th {
		color: $subheaderTextColor;
	}
	.credits-title{
		background: $headerBackground;
		color: $headerTextColor;
		padding-left: 2em;
	}
}
