.nav-bar {
	background: $navbar;
	height: 67px;
	overflow: hidden;

	.beniz {
		display:none;
	}

	a {
		text-decoration: none;
		color: $subheaderTextColor;

		.nav-bar-button {
			display:block;
			font-size: 2em;
			text-align: left;
			padding: .3em 2em .3em .5em;
			border-top: 2px solid $subheaderTextColor;
		}
	}

	a:hover {
	  	color: $subheaderTextColor;
	  	background-color: $subheaderTextColor;
	}

	.logo {
		height: 4em;
		width: 4em;
		float: left;
		margin-left: .3em;
	}

	.user-name-display {
		color:$navLink;
		padding: 1.5em 0 1.5em 1.5em;
		float: left;
	}

	.hamburger {
		color: $hover;
		float: right;
	}

	.hamburger-image {
		height: 3em;
		width: 3em;
		padding: .8em;
	}

	.closed {
		display: none;
	}

	.open {
		display: block;
		float: right;
		position: fixed;
		top: 67px;
		right: 0;
		background: $navbar;
		text-align: center;
	}

	#hamburger-list {
			border-left: 4px solid $navbar;
			border-right: 4px solid $navbar;
		}

	@media screen and (min-width: 550px) {
		.hamburger-image {
			display: none;
		}

		.hamburger {
			display: none;
		}

		#hamburger-list {
			display: none;
		}

		a {
			.nav-bar-button {
				float: right;
				padding: .6em 1em;
				font-size: 1.5em;
				text-align: center;
				border: none;
			}
		}

		.beniz {
			display: inline;
		}
	}
}
