$navbar: #412D62;
$paragraphColor: #412D62;
$buttonTextColor: #412D62;
$buttonBackground:  #90C5A9;
$bodyBackground:  #F4EAE0;
$navLink: #F4EAE0;
$linkColor:  #F4EAE0;
$innerContainer: #F4EADF;
$hover: #F8E1B5;
$headerTextColor: #FF434A;
$buttonBorderColor: #FF434A;

$headerFontFamily:'Oswald', sans-serif;
$paragraphFontFamily: 'Oswald', sans-serif;

$subheaderTextColor: #FFA54B;
$contentBackground: #fff;
$headerBackground: #412D62;
