body, html {
  height: 100%; }

body {
  overflow: scroll; }

@media screen and (min-width: 42em) {
  section > div {
    height: 100%;
    display: inline-block; }
    section > div > img {
      display: block;
      height: 100%; }
  section {
    height: 100%; } }
