body, html {
	height: 100%;
}

body {
	overflow: scroll;
}

section {
	> div {
		> img {
			// width: 100%;
		}
	}
}

@media screen and (min-width: 42em) {
	section {
		> div {
			height: 100%;
			display: inline-block;
			> img {
				display: block;
				height: 100%;
			}
		}
	}

	section {
		height: 100%;
	}
}