/* The overflow property spcifies what should happen if a child element is wider
or taller than its parent */
.parent {
	width: 10em;
	height: 10em;
	background-color: black;
	padding: 1em;
	overflow-x: hidden;
	overflow-y: scroll;
}

.child {
	width: 15em;
	height: 15em;
	background-color: yellow;
}