.att-container {
	text-align: none;
	margin: 0 4em;

	#att-title {
		text-align: left;
		font-family: $headerFontFamily;
		color: $headerTextColor;
		background: $innerContainer;
		margin-bottom: -1em;
	}

	.att-table {
		background: $contentBackground;
		color: $paragraphColor;
	}

	th {
		border: 2px solid $bodyBackground;
	}

	td {
		background: $contentBackground;
		border: 2px solid $bodyBackground;
	}

	.att-butt {
		margin-left: 1em;
		float: left;
		color: $buttonTextColor;
	}

	#exampleRecipientInput {
		float: left;
		display: inline-block;
		width: 40%;
	}

	option {
		display: inline-block;
	}

	label {
		color: $subheaderTextColor;
		font-family: $paragraphFontFamily;
		margin-top: 0;
	}

	.att-info {
		font-size: 2em;
		margin-top: 2em;
	}

	td:first-child {
		padding-left: 15px;
	}
}









