.post-question-component {
	font-family: $headerFontFamily;
	font-size: 1.2em;
	background: $contentBackground;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 3em;

	h3 {
		color:  $headerTextColor;
		background: $headerBackground;
		padding-left: 2%;
	}

	label {
		color: $subheaderTextColor;
	}

	.post-question {
		text-align: left;
		float: right;
		padding: 2%;

		.validate {
			width: 100%;
		}

		.choice {
			width: 80%;
			margin-right: 2%;
		}

		.choice-btn {
			width: 18%;
		}

		button {
			background-color: $buttonBackground;
			color: $buttonTextColor;
			font-family: $paragraphFontFamily;
			box-shadow: 3px 3px 0px $buttonBorderColor;
			border: none;
			font-weight: bold;
			font-size: .8em;
			border-radius: .1em;
		}
	}

	#radiooo {
		span {
			p {
				display: inline;
				padding-left: 0.8em;
				color: $paragraphColor;
			}
		}
	}
}

@media (min-width: 550px){

	.post-question-component{

		.column, .columns {
	  		margin-left: 0;
		}
	}
}
