.quiz-results-container {

	.title {
		font-family: $paragraphFontFamily;
		color: $buttonBackground;
	}

	.question {
		font-size: 1.2em;
	}

	.container {
		margin: 2em;
		font-family: $paragraphFontFamily;
	}

	.question-container {
		margin: 2em;
		font-family: $paragraphFontFamily;
	}
	.totals {
		padding: 1em;
		box-shadow: 2px 2px 10px #000;
	}
	.percentage {
		margin: 2em 0;
		font-family: $paragraphFontFamily;
	}

	.green {
		color: green;
		font-weight: bold;
		font-family: $paragraphFontFamily;
	}

	.red {
		color: red;
		font-weight: bold;
		font-family: $paragraphFontFamily
	}
}
