.reg-form-container {
	height: 100%;
	width:60%;
	margin-left: 20%;
	margin-right: 20%;
	background: $contentBackground;
	padding-bottom: 1em;
	margin-top: 3em;
	margin-bottom: 6em;

	.reg-form {
		height: 100%;
		width: 100%;
	}

	.reg-head {
		font-family: Oswald, sans-serif;
		color: #FF434A;
		text-align: center;
		font-weight: bold 20em;
		padding-bottom: 0.5em;
		padding-top: 1em;
		margin-right: 0.4em;

		hr {
			margin: 0;
			border-color: $hover;
			clear: both;
			padding-bottom: 2em;
		}
	}

	label {
		font-family: Oswald, sans-serif;
		color: #FFA54B;
		display:block;
		margin-left: 4%;
		margin-right: 5%;
	}

	input {
		margin-left: 4%;
		margin-right: 5%;
		display: block;
		width: 90%;
		color: #42094A;
	}

	select {
		display: block;
		width: 40%;
		margin-left: 25%;
	}

	.reg-button-primary {
		background-color:#90C5A9;
		border-bottom: 2px solid #FF434A;
		color:#42094A;
		margin-left: 4%;
		margin-right: 5%;
	}
}
