body {
	margin: 0;
}

nav {
	overflow: hidden;
	strong {
		display: block;
		float: left;
	}

	a {
		display: block;
		float: left;
	}

	div {
		float: right;
	}
}

.float-example {
	background-color: red;
	max-width: 60em;
	margin: 0 auto;

	.content {
		width: 75%;
		float: left;
		border-right: 2em solid rgba(0, 0, 0, 0);
		border-left: 2em solid rgba(0, 0, 0, 0);
		box-sizing: border-box;
	}

	.sidebar {
		width: 25%;
		float: left;
		border-right: 2em solid rgba(0, 0, 0, 0);
		box-sizing: border-box;
	}
}

.inline-block-example {
	section {
		background-color: red;
	}

	.content {
		margin: 0;
		width: 74%;
		display: inline-block;
	}
	.sidebar {
		margin: 0;
		width: 25%;
		display: inline-block;
	}
}