/* pseudo-classes */

body a.foo {
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

.parent > div {
	width: 3em;
	height: 3em;
	background-color: pink;
	margin-right: 0.2em;
	float: left;
}

.parent :nth-child(3n+1):not(:first-child) {
	background-color: blue;
	clear: left;
}


/* pseudo-elements */
div/* {
	width: 10em;
	background: #000;
	color: red;
}

div:before {
	content: "hello";
	color: #fff;
	margin-top: -2em;
}

div:after {
	content: "goodbye";
	color: #fff;
}

div:first-letter {
	font-size: 4em;
	text-transform: uppercase;
}

div:first-line {
	color: blue;
}

div::selection {
	background: yellow;
}*/