.create-cohort-box {

	.create-cohort-inner-box {
		padding-top: 5em;
	}

	h2 {
		color: $headerTextColor;
		font-family: $headerFontFamily;
		background: $headerBackground;
		padding-left: 0.25em;
	}

	p {
		font-family: $paragraphFontFamily;
	}

	.cohortLinks {
		background-color: $contentBackground;
		padding: 0.5em;
	}

	.cohortName {
		text-decoration: underline;
		margin-bottom: 0;
	}

	.seven.columns {
		background: $contentBackground;
	}

	form {
		padding: 0.5em;
	}

	#button-primary {
		background-color: $buttonBackground;
		box-shadow: 3px 3px 0px $buttonBorderColor;
	}

	.container {
		background: $bodyBackground;
		margin-top: 5em;
		margin-bottom: 2em;
	}
}

@media (max-width: 62.5em) {

	.seven.columns {
		width: 100%;
	}

	.five.columns {
		width: 100%;
		margin-top: 2em;
		margin-left:0;
	}
}
