table {
	min-width: 500px;
	border-collapse: collapse;
}

td {
	padding: 0 4px;
	color: #333;
}

tbody td {
	padding: 4px;
}

tbody tr:nth-child(even) td {
	background-color: #f5f9fb;
}

tbody tr:nth-child(odd) td {
	background-color: #e6eff4;
}

.sort td {
	border-bottom: 1px solid #666;
}

.sort td a {
	display: block;
	padding: 4px 0;
	text-decoration: none;
	color: #333;
}

.sort td.active {
	border-bottom: 2px solid #333;
}

.sort td .ion-android-arrow-dropdown, .sort td .ion-android-arrow-dropup {
	display: none;
}

.sort td.active .desc .ion-android-arrow-dropdown {
	display: inline;
}

.sort td.active .asc .ion-android-arrow-dropup {
	display: inline;
}

.table-header td {
	background-color: #dce9ef;
	padding: 6px 4px;
}

.sort td {
	background-color: #cbdee8;
}

.table-name {
	font-weight: bold;
	color: #454545;
}

table {
	border-radius: 4px;
}

/*
.sort td.active .desc .ion-arrow-up-b {
	display: none;
}

.sort td.active .asc .ion-arrow-down-b {
	display: none;
}

.sort td.active .desc .ion-arrow-down-b {
	display: inline;
}*/

/*thead tr td {
	background: #B9C9FE;
}

thead tr td:first-child {
	padding-left: 10px;
}

thead tr:first-child td {
	padding: 10px 0 10px 10px;
}

thead tr:last-child td {
	padding-bottom: 10px;
}

td a {

}*/