.parent {
	margin: 0 auto;
	background-color: #000;
	padding: 2em;
	overflow: hidden;				/* use overflow: hidden trick to fix height
									   bug on non-floated parent element with
									   floated children */
}

.child {
	width: 8em;
	height: 8em;
	background-color: #fff;
	float: left;					/* the float property allows block level
									   elements to sit next to each other
									   instead of stacking like they do without
									   floating */
	margin-right: 1em;
}


/*
 * Mixing floated and non floated siblings is going to give you a bad time.
 * Don't do it like we tried to do below.
 */
 
/*.odd {
	float: none;
}*/