
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
				<a href="#" class="dropdown-toggle user" data-toggle="dropdown">
					<span class="display-name">Aaron L.</span> <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					
						<li><a href="/user/billing">Update Billing</a></li>
					
					
						<li><a href="/user/whitelabel">White Label Settings</a></li>
					
					<li><a href="/logout">Log out</a></li>
				</ul>
			</li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
    	<div class="row" style="margin-top: 200px;">
			<form>
				<label>
					First Name:
					<input type="text" id="first-name">
				</label>
				<label>
					Last Name:
					<input type="text" id="last-name">
				</label>
				<label>
					Age:
					<input type="number" id="age">
				</label>
				<button id="add-person-button" type="button">Add Person</button>
			</form>
			<ul class="list-group" id="people-list">
			</ul>
		</div>

    </div><!-- /.container -->

    <script type="text/html" id="person-view">
		<li class="list-group-item">
			<span class="first-name"><%= firstName %></span>
			<span class="last-name"><%= lastName %></span>
			(<span class="age"><%= age %></span>)
		</li>
    </script>

	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/underscore/underscore-min.js"></script>
	<script type="text/javascript" src="bower_components/backbone/backbone.js"></script>

	<script type="text/javascript" src="scripts/models/PersonModel.js"></script>

	<script type="text/javascript" src="scripts/collections/PersonCollection.js"></script>

	<script type="text/javascript" src="scripts/views/PersonView.js"></script>
	<script type="text/javascript" src="scripts/views/AppView.js"></script>
	<script type="text/javascript" src="scripts/main.js"></script>
  </body>
</html>