@import 'variables';
@import 'navigation';
@import 'company-selection';

body {
	margin: 0;
	background-image: url(/images/bg.png);
	font-family: Helvetica, sans-serif;
}

form {
	input, textarea {
		width: 100%;
		display: block;
		border: 1px solid lighten($border-color, 40%);
		font-size: 1.25rem;
		padding: 0.25rem;
		box-sizing: border-box;
		outline: none;

		&:focus {
			border-color: $border-color;
		}
	}

	textarea {
		min-height: 10rem;
	}

	.label {
		font-weight: 700;
		color: $label-color;
		margin-bottom: 0.25rem;
	}

	.form-row {
		margin-bottom: 0.75rem;
	}
}

.btn {
	display: inline-block;
	border-radius: 4px;
	border: 0;
	padding: 0.5rem 1rem;
	outline: none;
	font-size: 1.5rem;
	cursor: pointer;

	&.primary {
		background-color: $btn-primary-bg-color;
		color: $btn-primary-color;

		&:hover {
			background-color: lighten($btn-primary-bg-color, 10%);
			color: lighten($btn-primary-color, 10%);

			&:disabled {
				background-color: $btn-primary-bg-color;
				color: $btn-primary-color;
			}
		}
	}

	&.small {
		padding: 0.25rem 0.5rem;
		font-size: 1rem;
	}

	&:disabled {
		opacity: 0.7;
	}
}

.modal-body {
	padding: 2rem;
}

#app {
	section {
		margin: 0 1rem;
		padding: 1rem;
		background-color: #fff;
	}
}