html, body {
	margin: 0;
	padding: 0;
}

a {
	display: block;
	float: left;
	width: 25%;
	background: #666;
	color: #ccc;
	line-height: 3em;
	text-align: center;
/*	border-right: 1px solid black;
*/}
/*
a:last-child {
	border-right: 0;
}*/

a > div {
	border-right: 1px solid black;
}

a:last-child > div {
	border-right: 0;
}