/*
 * This is a tag selector. It selects all elements with a tag name of span. Tag
 * selectors have no prefix like other types of CSS selectors.
 */
span {
	color: red;							/* sets the text color */
	background-color: blue;				/* sets the background color */
	display: block;						/* overrides the default display
										   property */
}

/*
 * This is a class selector. It selects all elements with a class of intro.
 * Notice that it starts with a `.` All class name selectors start with a `.`
 * which is how the browser knows that you are looking for elements that have
 * that class as opposed to elements that have that tag name.
 */
.intro {
	color: pink;						/* sets the text color */
}

header {
	background-color: #283646;			/* sets the background color */
	height: 100px;						/* forces the height to be 100px no
										   matter how large the content is. */
	/*width: 100px;*/					/* forces the width to be 100px no
										   matter how large the content is. */
	/*margin: 20px;*/					/* sets the margin to 20px on all
										   sides */
	border: 4px solid green;			/* sets the border to a width of 4px,
										   solid line and green color */
	border-bottom: 10px solid black;	/* overrides the border set above, but
										   only for the bottom edge. */
	margin: 0 auto;						/* centers the element horizontally with
										   no margin on top or bottom */
	color: #fff;						/* sets the text color */
	text-align: center;					/* aligns the text within this element
										   to be centered */
	padding-top: 20px;					/* sets the padding on top */
	padding-bottom: 20px;				/* sets the padding on bottom */
	
}

